<!-- footer card  -->
<div class="footer-contact1">
    <div class="row g-0 footer-card-text">
        <div class="col-md-6 border-right ">
            <div class="card text-light foot-card wow fadeInLeft">
                <h2 class="text-center  foot-h2">For trade enquiries and feedback</h2>
                <button class="foot-btn wow fadeInDown"><a href="/business-enquiry" class="contact-btn">Contact
                        Us</a></button>
            </div>
        </div>

        <div class="col-md-6  ">
            <div class="card text-light foot-card   wow fadeInRight">
                <h2 class="text-center  foot-h2">To join Dinshaw’s family</h2>
                <button class="foot-btn wow fadeInDown"><a href="/career" class="active contact-btn">Contact
                        Us</a></button>
            </div>
        </div>
    </div>
</div>
<!-- lets in touch -->
<footer>
    <div class="footer-main">
        <div class="container ">
            <div class="row ">
                <!-- address and other contact details -->
                <div class="col-md-3 ">
                    <a class="footer-brand " href="/">
                        <img src="/dinshaws-logo-footer.jpg" alt="logo Dinshaws" class="logo-footer">
                    </a>
                    <div class="media-icon mt-4 wow fadeInLeft" data-wow-delay="0.1s"><span class="mr-2  "><a
                                href="https://www.facebook.com/DinshawsOfficial/" target="_blank"
                                rel="noopener noreferrer"><img class="cursor-pointer"
                                    src="/assets/static/images/sm-icon-12.png"></a></span><span class="mr-2  "><a
                                href="https://www.instagram.com/dinshaws_official/" target="_blank"
                                rel="noopener noreferrer"><img class="   cursor-pointer"
                                    src="/assets/static/images/sm-icon-11.png"></a></span><span class="mr-2  "><a
                                href="https://twitter.com/DinshawOfficial" target="_blank"
                                rel="noopener noreferrer"><img class="   cursor-pointer"
                                    src="/assets/static/images/sm-icon-10.png"></a></span><span class="mr-2  "><a
                                href="https://www.youtube.com/channel/UCxQiQC8aoCNSIARD5Ot6sEg" target="_blank"
                                rel="noopener noreferrer"><img class="  cursor-pointer"
                                    src="/assets/static/images/sm-icon-09.png"></a></span><span class="mr-2  "><a
                                href="https://www.linkedin.com/company/dinshaw's" target="_blank"
                                rel="noopener noreferrer"><img class=" h-4 w-8 cursor-pointer"
                                    src="/assets/static/images/linkedin-icon.webp"></a></span>


                    </div>
                </div>

                <div class="footer-content footer-first">
                    <div class="col-md-3 foot-grid-card-1 wow fadeInLeft" data-wow-delay="0.1s">
                        <ul>
                            <li class="nav-foot-list"> <a href="/" class="text-style">Home</a></li>
                            <li class="nav-foot-list"> <a href="/about-us" class="text-style">About Us</a></li>
                            <ul class="foot-sub-list">
                                <li class="nav-foot-list"> <a href="/about-us/#our-story" class="text-style">Our
                                        Story</a></li>
                                <li class="nav-foot-list"><a href="/about-us/#our-presence" class="text-style">Our
                                        Presence</a></li>
                                <li class="nav-foot-list"><a href="/about-us/#values" class="text-style">Values</a></li>
                                <li class="nav-foot-list"><a href="/about-us/#manufacturing"
                                        class="text-style">Manufacturing</a></li>
                                <li class="nav-foot-list"><a href="/about-us/#our-mission" class="text-style">Our
                                        Mission</a>
                                </li>
                                <li class="nav-foot-list"> <a href="/about-us/#certification"
                                        class="text-style">Certifications</a></li>
                            </ul>
                            <li class="nav-foot-list"><a href="/Our-Legacy" class="text-style">Our Legacy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 foot-grid-card-2 wow fadeInUp" data-wow-delay="0.2s">
                        <ul>
                            <li class="nav-foot-list"> <a href="/product" class="text-style"
                                    class="text-style">Products</a>
                            </li>
                            <ul class="foot-sub-list">
                                <li class="nav-foot-list"> <a href="/product/milk" class="text-style"
                                        class="text-style">Milk</a></li>
                                <li class="nav-foot-list"> <a href="/product/milk-product" class="text-style"
                                        class="text-style">Milk
                                        Products</a></li>
                                <li class="nav-foot-list"><a href="/product/icecream" class="text-style"
                                        class="text-style">Ice Cream</a>
                                </li>
                                <li class="nav-foot-list"><a href="/product/bakery" class="text-style"
                                        class="text-style">Bakery</a></li>
                                <li class="nav-foot-list"><a href="/product/namkeen" class="text-style"
                                        class="text-style">Namkeen</a>
                                </li>
                            </ul>
                            <li class="nav-foot-list"><a href="/business-enquiry" class="text-style"
                                    class="text-style">Contact
                                    Us</a></li>
                            <li class="nav-foot-list"><a href="/career" class="text-style"
                                    class="text-style">Careers</a></li>
                            <li class="nav-foot-list"><a href="/business-enquiry" class="text-style"
                                    class="text-style">Business
                                    Enquiry/Feedback</a></li>
                            <li class="nav-foot-list"><a href="/" class="text-style" class="text-style">App Privacy
                                    Policy</a></li>

                        </ul>
                    </div>
                    <div class="col-md-3 foot-grid-card-3 wow fadeInRight" data-wow-delay="0.3s">

                        <div class="text-light text-add ">Dinshaw's Dairy Foods Pvt. Ltd.,</div>
                        <div class="text-light text-add">Gorewada Road, Borgaon, </div>
                        <div class="text-light text-add">Gittikhadan, Nagpur - 440013.</div>
                        <br>
                        <div class="text-light text-add">(Maharashtra) India.</div><br>
                        <div class="con-num">
                            <div class="text-light text-add">1800 120 9999 <small><span class="foot-text-days">(All days
                                        from 9 am to 6 pm except
                                        Sundays
                                        &
                                        public holidays)</span></small> <br></div>
                        </div>
                        <div class="text-light text-add">customerdelight@dinshaws.co.in</div>
                    </div>


                </div>

                <div class=" footer-second">
                    <div class="col-md-12">
                        <div class="footer-content-second">
                            <div class="col-md-3 foot-grid-card-3 wow fadeInLeft" data-wow-delay="0.1s">

                                <div class="text-light text-add ">Dinshaw's Dairy Foods Pvt. Ltd.</div>
                                <div class="text-light text-add">Gorewada Road, </div>
                                <div class="text-light text-add">Borgaon, Gittikhadan,</div>
                                <div class="text-light text-add">Nagpur - 440013</div>
                                <div class="text-light text-add">(Maharashtra) India.</div>
                                <div class="nav-email">
                                    <div class="text-light text-add">91 712 2865500</div>
                                    <div class="text-light text-add"> customerdelight@dinshaws.co.in</div>
                                </div>
                            </div>
                            <div class="col-md-3 foot-grid-card-1 wow fadeInDown" data-wow-delay="0.1s">
                                <ul class="ul-li">
                                    <li class="nav-foot-list"> <a href="/" class="text-style">Home</a></li>
                                    <li class="nav-foot-list"> <a href="/about-us" class="text-style">About Us</a></li>
                                    <li class="nav-foot-list"><a href="/Our-Legacy" class="text-style">Our Legacy</a>
                                    </li>
                                    <li class="nav-foot-list"> <a href="/product" class="text-style">Products</a></li>
                                    <li class="nav-foot-list"><a href="/business-enquiry" class="text-style">Contact
                                            Us</a></li>
                                    <li class="nav-foot-list"> <a href="/career" class="text-style">Careers</a></li>
                                    <li class="nav-foot-list"><a href="" class="text-style">App Privacy Policy</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

            <div class="media-icon1 mt-4 wow fadeInLeft" data-wow-delay="0.1s"><span class="mr-2  "><a
                        href="https://www.facebook.com/DinshawsOfficial/" target="_blank" rel="noopener noreferrer"><img
                            class="cursor-pointer" src="/assets/static/images/sm-icon-12.png"></a></span><span
                    class="mr-2  "><a href="https://www.instagram.com/dinshaws_official/" target="_blank"
                        rel="noopener noreferrer"><img class="   cursor-pointer"
                            src="/assets/static/images/sm-icon-11.png"></a></span><span class="mr-2  "><a
                        href="https://twitter.com/DinshawOfficial" target="_blank" rel="noopener noreferrer"><img
                            class="   cursor-pointer" src="/assets/static/images/sm-icon-10.png"></a></span><span
                    class="mr-2  "><a href="https://www.youtube.com/channel/UCxQiQC8aoCNSIARD5Ot6sEg" target="_blank"
                        rel="noopener noreferrer"><img class="  cursor-pointer"
                            src="/assets/static/images/sm-icon-09.png"></a></span><span class="mr-2  "><a
                        href="https://www.linkedin.com/company/dinshaw's" target="_blank" rel="noopener noreferrer"><img
                            class=" h-4 w-8 cursor-pointer" src="/assets/static/images/linkedin-icon.webp"></a></span>


            </div>
            <div class="footer-copyright wow fadeInLeft" data-wow-delay="0.2s">
                <h2 class="copyright-foot">Copyright@2023 Dinshaws | Made by Dinshaws IT Team</h2>
            </div>
        </div>

</footer>