<div class="row ml-auto pull-right messages-alert">
   <div class="alert-group" style="width:100%">
      <% if(typeof errors !='undefined' ){ %>
         <% errors.forEach(function(error) { %>
            <div class="alert alert-danger alert-dismissable">
               <strong>Error!</strong>
               <i class="bi bi-x-circle-fill"></i>
               <%- error.msg %>
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            </div>
            <% }); %>
               <% } %>
                  <% if(success_msg !='' ) { %>
                     <div id="successAlert" class="alert alert-success alert-dismissable">

                        <i class="bi bi-check-circle-fill"></i>
                        <%- success_msg %>
                           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                     </div>
                     <% } %>
                        <% if(error_msg !='' ) { %>
                           <div class="alert alert-danger alert-dismissable">
                              <i class="bi bi-x-circle-fill"></i>
                              <%- error_msg %>
                                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                           </div>
                           <% } %>
                              <% if(error !='' ) { %>
                                 <div class="alert alert-danger alert-dismissable">

                                    <i class="bi bi-x-circle-fill"></i>
                                    <%- error %>
                                       <button type="button" class="close" data-dismiss="alert"
                                          aria-hidden="true">×</button>
                                 </div>
                                 <% } %>

   </div>
</div>