<%- include('./layout/partials/messages.ejs') %>

    <!-- card first  -->
    <div class="about-us-main-container">

        <div class="card  text-white">

            <div class="about-header-text">
                <h5 class="about-img-title wow fadeInLeft " data-wow-delay="0.2s">Long History <br>
                    Of Creating Future</h5>
            </div>
            <img src="../assets/static/images/about-us-01.jpg" class="about-card-img" alt="...">

        </div>
    </div>


    <div class="  card-about-one" id="our-story">
        <div class="row ">
            <div class="col-md-6 flex">
                <div class="wow fadeInDown fix-right " data-wow-delay="0.1s">
                    <img src="/assets/static/images/about-us-02.jpg" class="img-responsive-about" height="100%"
                        width="100%" alt="" />
                </div>
            </div>
            <div class="col-md-6 text-center ">

                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-box">


                        <h5 class="h-light heading-persistent wow fadeInRight" data-wow-delay="0.2s">Persistent
                            Pursuit of
                            <br>
                            Performance & Perfection
                        </h5>
                        <div class="persistent-para">
                            <p class="text-justify  p-about wow fadeInUp" data-wow-delay="0.5s">
                                Today, what you see as a one of the fast-growing food-based conglomerates in
                                India,
                                was
                                once just a dream of two enterprising brothers, Dinshaw and Erachshaw Rana. They
                                envisioned an ethical & efficient company that made only the tastiest & purest
                                of
                                products wrapped in love! Their unrelenting emphasis on superlative quality and
                                innovation with newest & freshest flavours brought forth ice creams that truly
                                were
                                delectable & delightful, as they continue to be today.
                            </p>
                            <p class="p-about wow fadeInDown" data-wow-delay="0.9s">Their success led
                                Dinshaw's
                                to expand into several product
                                categories, and gradually
                                become what it is today!</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class=" card-about-two">
        <div class="row ">

            <div class="col-md-6 text-center body-width-full">

                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-box">

                        <div class=" about-heading-card">
                            <h5 class="h-light h5-size wow fadeInRight" data-wow-delay="0.2s">Persistent Pursuit
                                of
                                <br>
                                Performance & Perfection
                            </h5>
                            <p class="text-justify  p-size-about-1 wow fadeInUp" data-wow-delay="0.5s">
                                Today, what you see as a one of the fast-growing food-based conglomerates in
                                India,
                                was
                                once just a dream of two enterprising brothers, Dinshaw and Erachshaw Rana. They
                                envisioned an ethical & efficient company that made only the tastiest & purest
                                of
                                products…wrapped in love! Their unrelenting emphasis on superlative quality and
                                innovation with newest & freshest flavours brought forth ice creams that truly
                                were
                                delectable & delightful, as they continue to be today.
                            </p>
                            <p class="p-size-about-2 wow fadeInDown" data-wow-delay="0.9s">Their success led
                                Dinshaw's
                                to expand into several product
                                categories, and gradually
                                become what it is today!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 flex">
                <div class="wow fadeInDown fix-right " data-wow-delay="0.1s">
                    <img src="/assets/static/images/about-us-02.jpg" class="img-responsive-about" height="100%"
                        width="100%" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class=" card-about-header" id="our-presence">
        <div class="row ">

            <div class="col-md-12 text-center ">

                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <div class="present-card">

                        <div class=" about-heading-card">
                            <h5 class="h-light h8-size wow fadeInRight" data-wow-delay="0.2s">Present
                                everywhere,
                                including your heart</h5>
                            <div class="present-para">
                                <p class="text-justify  p-size-about-header wow fadeInUp" data-wow-delay="0.5s">
                                    Today, Dinshaw’s products are available in most parts of India, and are
                                    constantly
                                    expanding to new territories.
                                </p>
                                <p class="p-size-about-header wow fadeInDown" data-wow-delay="0.9s">With our
                                    strong
                                    presence
                                    in
                                    Maharashtra, Madhya Pradesh, Chhattisgarh, West Bengal, Orissa, Andhra
                                    Pradesh,
                                    Telangana, Karnataka, Goa, Uttar Pradesh and Jharkhand we’ve been
                                    successfully
                                    adding
                                    wholesome goodness of ‘pure health & taste’ to the lives of thousands since
                                    decades.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- images  -->

    <div class="grid ">
        <img class="h-full  " src="/assets/static/images/about-us-03.jpg" alt="about_image1">
        <img class="h-full " src="/assets/static/images/about-us-04.jpg" alt="about_image2">
        <img class="h-full " src="/assets/static/images/AboutUs-05.jpg" alt="about_image3">
        <img class="h-full " src="/assets/static/images/AboutUs-06.jpg" alt="about_image4">
    </div>

    <!-- card info  -->
    <div class="card-about-core">
        <h5 class="h-light h8-size wow fadeInUp text-center" id="values" data-wow-delay="0.2s">Core Values That Define
            Our
            Every
            Decision</h5>
    </div>




    <!-- <div class="container"> -->
    <!-- <div class="col-md-12"> -->
    <div class="row container-main-about">
        <!-- <div class="container-main-about"> -->
        <div class="col-md-4 card-mg">
            <div class="container_about1">
                <img src="/assets/static/images/about-us-07.jpg" class="card-img-top" alt="about-img">
                <div class=" about-heading-01">
                    <h5 class=" h9-size wow fadeInRight text-center" data-wow-delay="0.2s">Belief in
                        greatness
                    </h5>

                    <p class="p-size-about-card wow fadeInDown" data-wow-delay="0.9s">We believe that we
                        are
                        capable of
                        demonstrating ‘Greatness’ in everything we do and that Personal & Professional
                        Integrity,
                        Ethical
                        Conduct, Respect and Understanding for all, are extremely important aspects of
                        the
                        overall
                        ‘Greatness’
                        in which we believe.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-mg">
            <div class="container_about2">
                <img src="/assets/static/images/about-us-08.jpg" class="card-img-top" alt="about-img">
                <div class=" about-heading-01">
                    <h5 class=" h9-size wow fadeInRight text-center" data-wow-delay="0.2s">Belief in
                        happiness &
                        joy
                    </h5>
                    <p class="p-size-about-card wow fadeInDown" data-wow-delay="0.9s">We believe that
                        being
                        happy and
                        helping
                        all employees be happy is paramount to achieving ‘Greatness’ in everything we
                        do. We
                        believe
                        that
                        our
                        individual happiness is inextricably tied to customer happiness. We believe that
                        delighting and
                        bringing
                        happiness & joy to our customers gives meaning to our lives. Therein we find our
                        individual and
                        collective happiness.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-mg">
            <div class="container_about3">
                <img src="/assets/static/images/about-us-09.jpg" class="card-img-top" alt="about-img">
                <div class=" about-heading-01">
                    <h5 class=" h9-size wow fadeInRight text-center" data-wow-delay="0.2s">Belief in
                        safety
                        &
                        sustainability
                    </h5>
                    <p class="p-size-about-card wow fadeInDown" data-wow-delay="0.9s">We believe in
                        producing
                        and
                        selling
                        products that are safe & healthy for human consumption, in a manner that
                        demonstrates
                        greatest
                        concern
                        for health & safety of all life forms and for safety and sustainability of
                        nature
                        and
                        our
                        environment.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->



    <!-- about header 2 green  -->


    <div class=" card-about-manufacture" id="manufacturing">
        <div class="row ">
            <div class="col-md-12 text-center ">
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <div class="manufacturing-para">
                        <h5 class="h-light h10-size wow fadeInRight" data-wow-delay="0.2s">
                            Manufacturing Prowess
                        </h5>

                        <p class="p-size-about-card2 wow fadeInDown" data-wow-delay="0.9s">Our success lies in
                            our
                            ability to produce excellent products in a high-tech manufacturing facility. Latest
                            machines
                            coupled with the legacy of superlative skills enable us to deliver the taste &
                            quality,
                            you’ve fallen in love with!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- card flower info  -->
    <!-- our mission one  -->

    <div class="  card-about-three our-mission-one" id="our-mission">
        <div class="row ">
            <div class="col-md-6 flex ">
                <!-- <div class="wow fadeInLeft fix-right " data-wow-delay="0.1s"> -->
                <!-- <img src="/assets/static/images/about us-10.jpg" class="img-responsive-about1" alt="" /> -->
                <img src="/assets/static/images/about us-10.jpg" class="img-responsive-about" height="100%" width="100%"
                    alt="" />
                <!-- </div> -->
            </div>
            <div class="col-md-6 text-center ">

                <div class="about-card-heading2">
                    <h5 class=" h11-size wow fadeInRight" data-wow-delay="0.2s">Our Mission</h5>
                    <p class="  p-size-about-card3 wow fadeInRight" data-wow-delay="0.5s">
                        We are together here to delight and satisfy all consumers by continuous improvement of
                    </p>

                    <h4 class="main-product-about">
                        <span class=" p-size-about-card4 wow fadeInRight" data-wow-delay="0.1s"
                            style="display: inline-block; flex-direction: column; justify-content: space-around;"><img
                                class="  cursor-pointer1" src="/assets/static/images/Our mission icons-02.png" alt="">
                            Product
                            Quality</span><span class=" p-size-about-card4 wow fadeInUp" data-wow-delay="0.1s"
                            style="display: inline-block; flex-direction: column; justify-content: space-around;"><img
                                class="   cursor-pointer1" src="/assets/static/images/Our mission icons-03.png" alt="">
                            Product
                            Innovation</span><span class=" p-size-about-card4 wow fadeInDown" data-wow-delay="0.1s"
                            style="display: inline-block; flex-direction: column; justify-content: space-around;"><img
                                class="   cursor-pointer1" src="/assets/static/images/Our mission icons-04.png" alt="">
                            Product
                            Presentation</span>
                    </h4>


                    <p class="p-size-about-card3 wow fadeInLeft data-wow-delay=" 0.2s">which shall be achieved
                        by
                        employing a blend of artisan skills and use of modern technology.</p>
                    <p class="p-size-about-card3 wow fadeInRight" data-wow-delay="0.3s">
                        We strive to provide
                        wholesome products to all segments of the society and thereby contribute to its general
                        health.</p>
                    <p class="p-size-about-card3 wow fadeInLeft" data-wow-delay="0.4s">
                        We believe that delighting and bringing joy to our customers gives real meaning to our
                        business.</p>

                </div>

            </div>

        </div>
    </div>

    <!-- our mission two  -->
    <!-- this is pending for mobile devices view  -->

    <div class="  card-about-three our-mission-two" id="our-mission">
        <div class="row ">

            <div class="col-md-6 text-center body-width-full ">

                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <div class="about-heading-card2">
                        <h5 class="h-light h5ourmission-size wow fadeInRight" data-wow-delay="0.2s">Our
                            Mission
                        </h5>
                        <p class="text-justify  p-size-about-1 wow fadeInUp" data-wow-delay="0.5s">
                            We Are Together Here To Delight And Satisfy All Consumers By Continuous Improvement
                            Of
                        </p>
                        <h4 class="main-product-about">
                            <span class=" p-size-about-card4 wow fadeInRight" data-wow-delay="0.1s"
                                style="display: inline-block; flex-direction: column; justify-content: space-around;"><img
                                    class="  cursor-pointer1" src="/assets/static/images/Our mission icons-02.png"
                                    alt="">
                                Product
                                Quality</span><span class=" p-size-about-card4 wow fadeInUp" data-wow-delay="0.1s"
                                style="display: inline-block; flex-direction: column; justify-content: space-around;"><img
                                    class="   cursor-pointer1" src="/assets/static/images/Our mission icons-03.png"
                                    alt="">
                                Product
                                Innovation</span><span class=" p-size-about-card4 wow fadeInDown" data-wow-delay="0.1s"
                                style="display: inline-block; flex-direction: column; justify-content: space-around;"><img
                                    class="   cursor-pointer1" src="/assets/static/images/Our mission icons-04.png"
                                    alt="">
                                Product
                                Presentation</span>
                        </h4>

                        <p class="p-size-about-1 wow fadeInDown" data-wow-delay="0.9s">Which Shall Be
                            Achieved
                            By
                            Employing A Blend Of Artisan Skills And Use Of Modern Technology.</p>
                        <p class="p-size-about-1 wow fadeInDown" data-wow-delay="0.9s">We Strive To Provide
                            Wholesome
                            Products To All Segments Of The Society And Thereby Contribute To Its General
                            Health.
                        </p>
                        <p class="p-size-about-1 wow fadeInDown" data-wow-delay="0.9s">We Believe That
                            Delighting
                            And
                            Bringing Joy To Our Customers Gives Real Meaning To Our Business.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 flex ">
                <!-- <div class="wow fadeInDown fix-right " data-wow-delay="0.1s"> -->
                <img src="/assets/static/images/about us-10.jpg" class="img-responsive-about" height="100%" width="100%"
                    alt="" />
                <!-- </div> -->
            </div>
        </div>
    </div>

    <!-- certificates information about -->

    <div id="certification"></div>
    <div class="card-about-certificate">
        <div class="row ">

            <div class="col-md-12 text-center ">

                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-box">

                        <div class=" about-heading-card">
                            <h5 class="h12-size wow fadeInRight" data-wow-delay="0.2s">Certified For Quality &
                                Competence</h5>

                            <p class="p-size-about-c-para wow fadeInDown" data-wow-delay="0.9s">At Dinshaw’s all
                                products
                                are
                                rigorously tested in world-class NABL accredited laboratories on strictest of
                                quality
                                parameters before they reach you.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="flex-certification">
                    <div class="col-md-6 certificate1">
                        <div class="container_certificate1">
                            <img src="/assets/static/images/about us-11.jpg" class="card-img-certificate"
                                alt="about-img">
                            <div class="heading-certificate">
                                <p class="image-text1 wow fadeInDown" data-wow-delay="0.9s">Certificate on Food
                                    Safety
                                    System
                                    Certificate -
                                    FSSC 22000 from Bureau Veritas Certifications Co.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 certificate1">
                        <div class="container_certificate1">
                            <img src="/assets/static/images/about us-12.jpg" class="card-img-certificate"
                                alt="about-img">
                            <div class="heading-certificate">
                                <p class="image-text2 wow fadeInDown" data-wow-delay="0.9s">Approved by National
                                    Accreditation
                                    Board
                                    for
                                    Testing and Calibration Laboratories</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>