<%- include('./layout/partials/messages.ejs') %>

    <div class="  milk-bakery-first-card">
        <div class="row ">

            <div class="col-md-6 text-center ">

                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-box">

                        <div class="bakery-heading-card">
                            <h5 class="h-light bakery-h5">Let’s ‘Bake’ Some Love</h5>
                            <p class="text-justify  milk-one-para ">
                                Dinshaw’s Bakery products are made using artisanal skills developed in decades.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 flex">
                <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                    <img src="/assets/static/images/Product-104.jpg" class="milk-img-one" height="100%" width="100%"
                        alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="  " id="milk-bakery-first-card">
        <div class="row ">
            <div class="col-md-6 flex">
                <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                    <img src="/assets/static/images/Product-104.jpg" class="milk-img-one" height="100%" width="100%"
                        alt="" />
                </div>
            </div>
            <div class="col-md-6 text-center ">

                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-box">

                        <div class="   heading-card">
                            <h5 class="h-light bakery-h5">Let’s ‘Bake’ Some Love</h5>
                            <p class="text-justify  milk-one-para ">
                                Dinshaw’s Bakery products are made using artisanal skills developed in decades.
                            </p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- milk type  -->
    <div class="bakery-menu-card">
        <div class="card  text-white">

            <div class=" bakery-product-overlap">
                <h5 class="milk-product-overfloy-text wow fadeInLeft " data-wow-delay="0.2s">Delicious Delight In Every
                    Bite
                </h5>
                <p class="text-justify bakery-overfloy-para wow fadeInRight" data-wow-delay="0.1">
                    Dinshaw’s bakery products are made with artisanal skills honed by our expert chefs in their decades
                    of
                    experience. Every bite is like a blessing from gods of taste!
                </p>
                <div class="flex-bakery-item">
                    <div class="bakery-item-bread">
                        <div class="bakery-card-info">
                            <ul>
                                <li class="bakery-type-text wow fadeInRight" data-wow-delay="0.1"> Atta Bread
                                </li>
                                <li class="bakery-type-text wow fadeInLeft" data-wow-delay="0.2"> Milk Bread</li>
                                <li class="bakery-type-text wow fadeInRight" data-wow-delay="0.1">Sandwich Bread</li>
                                <li class="bakery-type-text  wow fadeInLeft" data-wow-delay="0.2"> Pizza Bread</li>
                                <li class="bakery-type-text  wow fadeInLeft" data-wow-delay="0.2">Doughnuts</li>
                                <li class="bakery-type-text wow fadeInRight" data-wow-delay="0.1"> Bhaji Pav</li>
                                <li class="bakery-type-text  wow fadeInLeft" data-wow-delay="0.2">Mast Pav</li>
                                <li class="bakery-type-text  wow fadeInLeft" data-wow-delay="0.2">Cherry Bun</li>
                            </ul>
                        </div>
                    </div>
                    <div class="bakery-item-toast">
                        <div class="bakery-card-info">
                            <ul>
                                <li class="bakery-type-text wow fadeInRight" data-wow-delay="0.1"> Premium Golden Toast
                                </li>
                                <li class="bakery-type-text wow fadeInLeft" data-wow-delay="0.2"> Premium Elliachi Toast
                                </li>
                                <li class="bakery-type-text wow fadeInRight" data-wow-delay="0.1">Premium Tutti Fruiti
                                    Toast
                                </li>
                                <li class="bakery-type-text  wow fadeInLeft" data-wow-delay="0.2"> Punjabi Toast</li>
                                <li class="bakery-type-text  wow fadeInLeft" data-wow-delay="0.2">Mava Cake</li>
                                <li class="bakery-type-text wow fadeInRight" data-wow-delay="0.1">Fruit Cake</li>
                                <li class="bakery-type-text  wow fadeInLeft" data-wow-delay="0.2">Vanilla Cup</li>
                                <li class="bakery-type-text  wow fadeInLeft" data-wow-delay="0.2">Cake Cream Roll</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <img src="/assets/static/images/Product page-10.jpg" class="milk-card-img" alt="...">
            <img src="/assets/static/images/Product page-10.jpg" id="milk-card-img" alt="...">
        </div>
    </div>