<%- include('./layout/partials/messages.ejs') %>
    <div class="icecreame-container">
        <div class="  milk-icecream-first-card">
            <div class="row ">

                <div class="col-md-6 text-center ">

                    <div class="wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-box">

                            <div class=" icecreame-heading-card">
                                <h5 class="h-light milk-h5">‘Ice Creams’ That Drip With Taste</h5>
                                <p class="text-justify  milk-one-para ">
                                    Dinshaw’s Ice Creams made with the purest ingredients are sure to melt your heart.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 flex">
                    <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                        <img src="/assets/static/images/Product-103.jpg" class="milk-img-one" height="100%" width="100%"
                            alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="  " id="milk-icecream-first-card">
            <div class="row ">
                <div class="col-md-6 flex">
                    <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                        <img src="/assets/static/images/Product-103.jpg" class="milk-img-one" height="100%" width="100%"
                            alt="" />
                    </div>
                </div>
                <div class="col-md-6 text-center ">

                    <div class="wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-box">

                            <div class=" heading-card">
                                <h5 class="h-light milk-h5">‘Ice Creams’ That Drip With Taste</h5>
                                <p class="text-justify  milk-one-para ">
                                    Dinshaw’s Ice Creams made with the purest ingredients are sure to melt your heart.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- milk type  -->
        <div class="icecreame-menu-card">
            <div class="card  text-white">
                <div class=" milk-overlap-icecream">

                    <h5 class="milk-icecream-overfloy-text wow fadeInLeft " data-wow-delay="0.2s">When The Heart Craves
                        For
                        Heavenly
                        Deliciousness</h5>
                    <p class="text-justify milk-icecream-overfloy-para wow fadeInRight" data-wow-delay="0.1">
                        You can never say no to the delightful taste of Dinshaw’s ice creams! The delectable taste and
                        texture
                        is
                        akin to ethereal bite of heavenly bliss. From classic chocolate to exotic Anjeer, Dinshaw’s ice
                        creams
                        come
                        in a vast range of flavours to suit every mood & palate.
                    </p>

                </div>
                <img src="/assets/static/images/Product page-09.jpg" class="milk-icecream-img" alt="...">
                <img src="/assets/static/images/Product page-09-sm.jpg" id="milk-icecream-img" alt="...">
            </div>
        </div>
    </div>