<%- include('./layout/partials/messages.ejs') %>

    <div class="milk-first-card">
        <div class="row ">
            <div id="row">
                <div class="col-md-6 text-center ">

                    <div class="wow fadeInUp" data-wow-delay="0.1s">
                        <div class="milk-heading-card">
                            <h5 class="h-light product-h5">Healthy ‘Milk’ From Well-fed Cows</h5>
                            <p class="text-justify  product-one-para ">
                                Dinshaw’s works with its farmer friends educating them on the best veterinary and animal
                                husbandry practise to ensure that the milk is ethically taken from well-fed cows without
                                using any malpractices.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 flex">
                    <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                        <img src="/assets/static/images/Product-101.jpg" class="product-img-one" height="100%"
                            width="100%" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="milk-first-card">
        <div class="row ">
            <div id="row">
                <div class="col-md-6 flex">
                    <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                        <img src="/assets/static/images/Product-101.jpg" class="product-img-one" height="100%"
                            width="100%" alt="" />
                    </div>
                </div>
                <div class="col-md-6 text-center ">

                    <div class="wow fadeInUp" data-wow-delay="0.1s">
                        <div class="milk-heading-card">
                            <h5 class="h-light product-h5">Healthy ‘Milk’ From Well-fed Cows</h5>
                            <p class="text-justify  product-one-para ">
                                Dinshaw’s works with its farmer friends educating them on the best veterinary and animal
                                husbandry practise to ensure that the milk is ethically taken from well-fed cows without
                                using any malpractices.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- milk type  -->
    <div class="menu-itmem-container">
        <div class="card  text-white card-over-milk">

            <div class=" milk-overlap">
                <h5 class="milk-overfloy-text wow fadeInLeft " data-wow-delay="0.2s">Every Drop Is An Ocean Of Taste &
                    Health
                </h5>
                <p class="text-justify milk-overfloy-para wow fadeInRight" data-wow-delay="0.1">
                    From Toned Milk to get toned body to Full Cream Milk to enjoy full health benefits, our milk range
                    gives
                    you
                    reasons to finish every glass.
                </p>
                <div class="milk-card">
                    <div class="milk-card-info">
                        <ul>
                            <li class="milk-type-text wow fadeInRight" data-wow-delay="0.1">Cow Milk</li>
                            <li class="milk-type-text wow fadeInLeft" data-wow-delay="0.2">1 ltr / 500 ml / 200 ml</li>
                            <li class="milk-type-text wow fadeInRight" data-wow-delay="0.1">Aahar Toned Milk</li>
                            <li class="milk-type-text  wow fadeInLeft" data-wow-delay="0.2">1 ltr / 500 ml / 200 ml</li>
                            <li class="milk-type-text wow fadeInRight" data-wow-delay="0.1">Amrik Standardized
                                Homogenized
                                Milk
                            </li>
                            <li class="milk-type-text  wow fadeInLeft" data-wow-delay="0.2"> 900ml / 450ml / 180 ml</li>
                            <li class="milk-type-text wow fadeInRight" data-wow-delay="0.1">Sarvottam Full Cream Milk
                            </li>
                            <li class="milk-type-text  wow fadeInLeft" data-wow-delay="0.2">1 ltr / 500 ml</li>
                            <li class="milk-type-text wow fadeInRight" data-wow-delay="0.1">Prabal Standardised
                                Unhomogenized
                                Milk</li>
                            <li class="milk-type-text  wow fadeInLeft" data-wow-delay="0.2">1 ltr / 500 ml</li>
                            <li class="milk-type-text wow fadeInRight" data-wow-delay="0.1">Phoorti Double Toned Milk
                            </li>
                            <li class="milk-type-text  wow fadeInLeft" data-wow-delay="0.2">500 ml / 200 ml</li>

                        </ul>
                    </div>
                </div>
            </div>
            <img src="/assets/static/images/Product page-08.jpg" class="milk-card-img" alt="...">
            <img src="/assets/static/images/Product page-08-sm.jpg" id="milk-card-img" alt="...">
        </div>
    </div>