<%- include('./layout/partials/messages.ejs') %>
    <div class="milk-product-container">
        <div class="  milk-products-first-card">
            <div class="row ">

                <div class="col-md-6 text-center ">

                    <div class="wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-box">

                            <div class=" heading-card">
                                <h5 class="h-light milk-h5">It’s ‘Dairy Dairy’ Good</h5>
                                <p class="text-justify  milk-one-para ">
                                    Dinshaw’s Dairy products turn the gift of nature into the blessing of good health!
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 flex">
                    <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                        <img src="/assets/static/images/Product-102.jpg" class="milk-img-one" height="100%" width="100%"
                            alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="  " id="milk-products-first-card">
            <div class="row ">
                <div class="col-md-6 flex">
                    <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                        <img src="/assets/static/images/Product-102.jpg" class="milk-img-one" height="100%" width="100%"
                            alt="" />
                    </div>
                </div>
                <div class="col-md-6 text-center ">

                    <div class="wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-box">

                            <div class=" heading-card">
                                <h5 class="h-light milk-h5">It’s ‘Dairy Dairy’ Good</h5>
                                <p class="text-justify  milk-one-para ">
                                    Dinshaw’s Dairy products turn the gift of nature into the blessing of good health!
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- milk type  -->
        <div class="milk-product-menu-card">
            <div class="card  text-white">

                <div class="milk-product-overlap">
                    <h5 class="milk-product-overfloy-text wow fadeInLeft " data-wow-delay="0.2s">Made From Pure Milk &
                        Pure
                        Love
                    </h5>
                    <p class="text-justify milk-product-overfloy-para wow fadeInRight" data-wow-delay="0.1">
                        Our Dairy products are made from the freshest & purest milk and bring the authentic ‘desi’ taste
                        to
                        the
                        dinner table.
                    </p>
                    <div class="milk-product-card">
                        <div class="milk-product-flex ">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="milk-product-type-text">
                                            <p>Ghee</p>
                                        </td>
                                        <td class="milk-rate-type-text">
                                            <p>1000 ml / 500 ml / 200 ml</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="milk-product-type-text">
                                            <p>Cow Ghee</p>
                                        </td>
                                        <td class="milk-rate-type-text">
                                            <p>1000 ml / 500 ml / 200 ml</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="milk-product-type-text">
                                            <p>Paneer</p>
                                        </td>
                                        <td class="milk-rate-type-text">
                                            <p>1000 ml / 500 ml / 200 ml</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="milk-product-type-text">
                                            <p>Srikhand</p>
                                        </td>
                                        <td class="milk-rate-type-text">
                                            <p>500 g / 250 g / 100 g</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="milk-product-type-text">
                                            <p>Dahi</p>
                                        </td>
                                        <td class="milk-rate-type-text">
                                            <p>1000 ml / 500 ml / 200 ml</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="milk-product-type-text">
                                            <p>Kadi Dahi</p>
                                        </td>
                                        <td class="milk-rate-type-text">
                                            <p>1000 ml / 200 ml</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="milk-product-type-text">
                                            <p>Butter Milk</p>
                                        </td>
                                        <td class="milk-rate-type-text">
                                            <p>200 ml</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="milk-product-type-text">
                                            <p>Lasi</p>
                                        </td>
                                        <td class="milk-rate-type-text">
                                            <p>200 ml</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="milk-product-type-text">
                                            <p>Mishti Dahi</p>
                                        </td>
                                        <td class="milk-rate-type-text">
                                            <p>160 g / 100 g</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="milk-product-type-text">
                                            <p>Butter</p>
                                        </td>
                                        <td class="milk-rate-type-text">
                                            <p>100g</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <img src="/assets/static/images/Product page-07.jpg" class="milk-card-img" alt="...">
                <img src="/assets/static/images/Product page-07-sm.jpg" id="milk-card-img" alt="...">
            </div>
        </div>
    </div>