<%- include('./layout/partials/messages.ejs') %>

    <div class="  milk-namkeen-first-card">
        <div class="row ">

            <div class="col-md-6 text-center ">

                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-box">

                        <div class="namkeen-heading-card">
                            <h5 class="h-light bakery-h5">Anytime Is ‘Snacks’ Time</h5>
                            <p class="text-justify  milk-one-para ">
                                Dinshaw’s Namkeens & Snacks add the taste of joy in every moment!
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 flex">
                <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                    <img src="/assets/static/images/Product-105.jpg" class="milk-img-one" height="100%" width="100%"
                        alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="  " id="milk-namkeen-first-card">
        <div class="row ">
            <div class="col-md-6 flex">
                <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                    <img src="/assets/static/images/Product-105.jpg" class="milk-img-one" height="100%" width="100%"
                        alt="" />
                </div>
            </div>
            <div class="col-md-6 text-center ">

                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-box">

                        <div class="   heading-card">
                            <h5 class="h-light bakery-h5">Anytime Is ‘Snacks’ Time</h5>
                            <p class="text-justify  milk-one-para ">
                                Dinshaw’s Namkeens & Snacks add the taste of joy in every moment!
                            </p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- milk type  -->
    <div class="namkeen-menu-card">
        <div class="card  text-white">
            <div class=" namkeen-overlap">
                <h5 class="milk-namkeen-overfloy-text wow fadeInLeft " data-wow-delay="0.2s">Crunchiest, Crispiest &
                    Tastiest
                    Treats
                </h5>
                <p class="text-justify milk-namkeen-overfloy-para wow fadeInRight" data-wow-delay="0.1">
                    Indians love to binge on snacks; Dinshaw’s snacks are the anytime delights that are sure to
                    titillate
                    your
                    palate. Have them while watching movies, sports or just anytime you crave for some wholesome
                    goodness!
                </p>
                <div class="flex-bakery-item">
                    <div class="namkeen-item-bread">
                        <div class="bakery-card-info">
                            <ul>
                                <li class="bakery-type-text wow fadeInRight" data-wow-delay="0.1"> Aalu-karara
                                </li>
                                <li class="bakery-type-text wow fadeInLeft" data-wow-delay="0.2"> Masta Pasta</li>
                                <li class="bakery-type-text wow fadeInRight" data-wow-delay="0.1">Tik-tok-tik</li>
                                <li class="bakery-type-text  wow fadeInLeft" data-wow-delay="0.2"> Soya Bol</li>
                                <li class="bakery-type-text  wow fadeInLeft" data-wow-delay="0.2">Tedhi Masti</li>
                                <li class="bakery-type-text wow fadeInRight" data-wow-delay="0.1"> Soya Kruch</li>
                            </ul>
                        </div>
                    </div>
                    <div class="namkeen-item-toast">
                        <div class="bakery-card-info">
                            <ul>
                                <li class="bakery-type-text wow fadeInRight" data-wow-delay="0.1"> Falhari
                                </li>
                                <li class="bakery-type-text wow fadeInLeft" data-wow-delay="0.2"> Khatta Mitta</li>
                                <li class="bakery-type-text wow fadeInRight" data-wow-delay="0.1">Mixture
                                </li>
                                <li class="bakery-type-text  wow fadeInLeft" data-wow-delay="0.2"> Alu Sev</li>
                                <li class="bakery-type-text  wow fadeInLeft" data-wow-delay="0.2">Bikaneri Bhujia</li>
                                <li class="bakery-type-text wow fadeInRight" data-wow-delay="0.1">Sev Murmura</li>
                                <li class="bakery-type-text  wow fadeInLeft" data-wow-delay="0.2">Coated Peanuts</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <img src="/assets/static/images/Product page-11.jpg" class="milk-card-img" alt="...">
            <img src="/assets/static/images/Product page-11-sm.jpg" id="milk-card-img" alt="...">
        </div>
    </div>