<!-- image main  -->


<div class="card  text-white product-header-one">
    <img src="../assets/static/images/Products-01.jpg" class="product-img-1" alt="...">

</div>

<div class="card  text-white product-header-two">
    <img src="../assets/static/images/Products-01-sm.jpg" class="product-img-2" alt="...">
    <div class="text-overfloy">
        <h5 class=" text-center product-image-text-h5  wow fadeInDown " data-wow-delay="0.4s">
            Wide Range Of Products For Wider Smiles</h5>
        <p class="text-center product-image-text-p wow fadeInRight " data-wow-delay="0.5s" style="max-height: 200px;">
            Dinshaw’s offers a wide range of products from dairy to ice creams to bakery to namkeens; we ensure that
            your mornings &amp; evenings are always ‘delectable’ &amp; ‘delightful’.</p>

    </div>
</div>
<div class="container-product-mg">
    <div class="  product-card-one">
        <div class="row ">
            <div id="row">
                <div class="col-md-6 flex">
                    <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                        <img src="/assets/static/images/Product-101.jpg" class="product-img-one" height="100%"
                            width="100%" alt="" />
                    </div>
                </div>
                <div class="col-md-6 text-center ">

                    <div class="wow fadeInUp" data-wow-delay="0.1s">
                        <div class=" product-heading-card">
                            <h5 class="h-light product-h5">Healthy ‘Milk’ From Well-fed Cows</h5>
                            <p class="text-justify  product-one-para ">
                                Dinshaw’s works with its farmer friends educating them on the best veterinary and
                                animal
                                husbandry practise to ensure that the milk is ethically taken from well-fed cows
                                without
                                using any malpractices.
                            </p>
                            <button class="product-btn-one wow fadeInUp " data-wow-delay="0.5s"
                                style="margin-top: 28px;"><a href="/product/milk" class="btn-a-text">Our
                                    Range</a></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="  " id="product-card-one">
        <div class="row ">
            <div class="col-md-6 flex">
                <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                    <img src="/assets/static/images/Product-101.jpg" class="product-img-one" height="100%" width="100%"
                        alt="" />
                </div>
            </div>
            <div class="col-md-6 text-center ">

                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <div class=" product-heading-card">
                        <h5 class="h-light product-h5">Healthy ‘Milk’ From Well-fed Cows</h5>
                        <p class="text-justify  product-one-para ">
                            Dinshaw’s works with its farmer friends educating them on the best veterinary and animal
                            husbandry practise to ensure that the milk is ethically taken from well-fed cows without
                            using any malpractices.
                        </p>
                        <button class="product-btn-one wow fadeInUp " data-wow-delay="0.5s"><a href="/product/milk"
                                class="btn-a-text">Our
                                Range</a></button>

                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="  product-card-three">
        <div class="row ">
            <div id="row">
                <div class="col-md-6 text-center ">

                    <div class="wow fadeInUp" data-wow-delay="0.1s">

                        <div class=" product-heading-card2">
                            <h5 class="h-light product-h5">It’s ‘Dairy Dairy’ Good</h5>
                            <p class="text-justify  product-one-para ">
                                Dinshaw’s Dairy products turn the gift of nature into the blessing of good health!
                            </p>
                            <button class="product-btn-one wow fadeInUp " data-wow-delay="0.5s"
                                style="margin-top: 28px;"><a href="/product/milk-product" class="btn-a-text">Our
                                    Range</a></button>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 flex">
                    <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                        <img src="/assets/static/images/Product-102.jpg" class="product-img-TWO" height="100%"
                            width="100%" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="  " id="product-card-three">
        <div class="row ">
            <div class="col-md-6 flex">
                <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                    <img src="/assets/static/images/Product-102.jpg" class="product-img-one" height="100%" width="100%"
                        alt="" />
                </div>
            </div>
            <div class="col-md-6 text-center ">

                <div class="wow fadeInUp" data-wow-delay="0.1s">

                    <div class=" product-heading-card2">
                        <h5 class="h-light product-h5">It’s ‘Dairy Dairy’ Good</h5>
                        <p class="text-justify  product-one-para ">
                            Dinshaw’s Dairy products turn the gift of nature into the blessing of good health!
                        </p>
                        <button class="product-btn-one wow fadeInUp " data-wow-delay="0.5s" style="margin-top: 28px;"><a
                                href="/product/milk-product" class="btn-a-text">Our
                                Range</a></button>

                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="  product-card-four">
        <div class="row ">
            <div id="row">
                <div class="col-md-6 flex">
                    <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                        <img src="/assets/static/images/Product-103.jpg" class="product-img-one" height="100%"
                            width="100%" alt="" />
                    </div>
                </div>
                <div class="col-md-6 text-center ">

                    <div class="wow fadeInUp" data-wow-delay="0.1s">

                        <div class=" product-heading-card3">
                            <h5 class="h-light product-h5">‘Ice Creams’ That Drip With Taste</h5>
                            <p class="text-justify product-one-para ">
                                Dinshaw’s Ice Creams made with the purest ingredients are sure to melt your heart.
                            </p>
                            <button class="icecream-btn wow fadeInUp " data-wow-delay="0.5s"
                                style="margin-top: 28px;"><a href="/product/icecream" class="btn-a-text">Our
                                    Range</a></button>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="  " id="product-card-four">
        <div class="row ">
            <div class="col-md-6 flex">
                <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                    <img src="/assets/static/images/Product-103.jpg" class="product-img-one" height="100%" width="100%"
                        alt="" />
                </div>
            </div>
            <div class="col-md-6 text-center ">

                <div class="wow fadeInUp" data-wow-delay="0.1s">

                    <div class=" product-heading-card3">
                        <h5 class="h-light product-h5 wow fadeInRight " data-wow-delay="0.5s">‘Ice Creams’ That Drip
                            With
                            Taste

                        </h5>
                        <p class="text-justify  product-one-para wow fadeInRight " data-wow-delay="0.5s">
                            Dinshaw’s Ice Creams made with the purest ingredients are sure to melt your heart.
                        </p>
                        <button class="icecream-btn wow fadeInRight " data-wow-delay="0.5s" style="margin-top: 28px;"><a
                                href="/product/icecream" class="btn-a-text">Our
                                Range</a></button>

                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="  product-card-five">
        <div class="row ">
            <div id="row">
                <div class="col-md-6 text-center ">

                    <div class="wow fadeInUp" data-wow-delay="0.1s">
                        <div class=" product-heading-card2">
                            <h5 class="h-light product-h5">Let’s ‘Bake’ Some Love</h5>
                            <p class="text-justify  product-one-para ">
                                Dinshaw’s Bakery products are made using artisanal skills developed in decades.
                            </p>
                            <button class="product-btn-one wow fadeInUp " data-wow-delay="0.5s"
                                style="margin-top: 28px;">
                                <a href="/product/bakery" class="btn-a-text">Our Range</a></button>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 flex">
                    <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                        <img src="/assets/static/images/Product-104.jpg" class="product-img-TWO" height="100%"
                            width="100%" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="  " id="product-card-five">
        <div class="row ">
            <div class="col-md-6 flex">
                <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                    <img src="/assets/static/images/Product-104.jpg" class="product-img-one" height="100%" width="100%"
                        alt="" />
                </div>
            </div>
            <div class="col-md-6 text-center ">

                <div class="wow fadeInUp" data-wow-delay="0.1s">

                    <div class=" product-heading-card2">
                        <h5 class="h-light product-h5">Let’s ‘Bake’ Some Love</h5>
                        <p class="text-justify  product-one-para ">
                            Dinshaw’s Bakery products are made using artisanal skills developed in decades.
                        </p>
                        <button class="product-btn-one wow fadeInUp " data-wow-delay="0.5s" style="margin-top: 28px;"><a
                                href="/product/bakery" class="btn-a-text">Our
                                Range</a></button>

                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="  product-card-six">
        <div class="row ">
            <div id="row">
                <div class="col-md-6 flex">
                    <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                        <img src="/assets/static/images/Product-105.jpg" class="product-img-one" height="100%"
                            width="100%" alt="" />
                    </div>
                </div>
                <div class="col-md-6 text-center ">

                    <div class="wow fadeInUp" data-wow-delay="0.1s">

                        <div class=" product-heading-card2">
                            <h5 class="h-light product-h5">Anytime Is ‘Snacks’ Time</h5>
                            <p class="text-justify  product-one-para ">
                                Dinshaw’s Namkeens & Snacks add the taste of joy in every moment!
                            </p>
                            <button class="product-btn-one wow fadeInUp " data-wow-delay="0.5s"
                                style="margin-top: 28px;"><a href="/product/namkeen" class="btn-a-text">Our
                                    Range</a></button>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="  " id="product-card-six">
        <div class="row ">
            <div class="col-md-6 flex">
                <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                    <img src="/assets/static/images/Product-105.jpg" class="product-img-one" height="100%" width="100%"
                        alt="" />
                </div>
            </div>
            <div class="col-md-6 text-center">

                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <div class=" product-heading-card2">
                        <h5 class="h-light product-h5 wow fadeInRight " data-wow-delay="0.5s">Anytime Is ‘Snacks’
                            Time
                        </h5>
                        <p class="text-justify  product-one-para wow fadeInRight " data-wow-delay="0.5s">
                            Dinshaw’s Namkeens & Snacks add the taste of joy in every moment!
                        </p>
                        <button class="product-btn-one wow fadeInRight " data-wow-delay="0.5s"
                            style="margin-top: 28px;"><a href="/product/namkeen" class="btn-a-text">Our
                                Range</a></button>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- peding header image overfloy css apply -->



<div class="col-md-12 all-product-container">
    <div class="row product-flex">
        <div class="col-sm-6 col-md-6 thumbnail-c">
            <div class="thumbnail caption-color1">
                <img src="/assets/static/images/Product-101.jpg" class="product-img-one" height="100%" width="100%"
                    alt="" />
                <div class="caption  ">
                    <div class="wow fadeInUp" data-wow-delay="0.1s">
                        <div class=" product-heading-card">
                            <h5 class="h-light product-h5">Healthy ‘Milk’ From Well-fed Cows</h5>
                            <p class="text-justify  product-one-para ">
                                Dinshaw’s works with its farmer friends educating them on the best veterinary
                                and animal
                                husbandry practise to ensure that the milk is ethically taken from well-fed cows
                                without
                                using any malpractices.
                            </p>
                            <button class="product-btn-one wow fadeInUp " data-wow-delay="0.5s"><a href="/product/milk"
                                    class="btn-a-text">Our
                                    Range</a></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 thumbnail-c">
            <div class="thumbnail caption-color2">
                <img src="/assets/static/images/Product-102.jpg" class="product-img-one" height="100%" width="100%"
                    alt="" />
                <div class="caption  ">
                    <div class="wow fadeInUp" data-wow-delay="0.1s">

                        <div class=" product-heading-card2">
                            <h5 class="h-light product-h5">It’s ‘Dairy Dairy’ Good</h5>
                            <p class="text-justify  product-one-para ">
                                Dinshaw’s Dairy products turn the gift of nature into the blessing of good
                                health!
                            </p>
                            <button class="product-btn-one wow fadeInUp " data-wow-delay="0.5s"
                                style="margin-top: 28px;"><a href="/product/milk-product" class="btn-a-text">Our
                                    Range</a></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row product-flex">
        <div class="col-sm-6 col-md-6 thumbnail-c">
            <div class="thumbnail caption-color3">
                <img src="/assets/static/images/Product-103.jpg" class="product-img-one" height="100%" width="100%"
                    alt="" />
                <div class="caption  ">
                    <div class="wow fadeInUp" data-wow-delay="0.1s">

                        <div class=" product-heading-card3">
                            <h5 class="h-light product-h5 wow fadeInRight " data-wow-delay="0.5s">‘Ice Creams’
                                That Drip
                                With
                                Taste

                            </h5>
                            <p class="text-justify  product-one-para wow fadeInRight " data-wow-delay="0.5s">
                                Dinshaw’s Ice Creams made with the purest ingredients are sure to melt your
                                heart.
                            </p>
                            <button class="icecream-btn wow fadeInRight " data-wow-delay="0.5s"
                                style="margin-top: 28px;"><a href="/product/icecream" class="btn-a-text">Our
                                    Range</a></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 thumbnail-c">
            <div class="thumbnail caption-color4">
                <img src="/assets/static/images/Product-104.jpg" class="product-img-one" height="100%" width="100%"
                    alt="" />
                <div class="caption  ">
                    <div class="wow fadeInUp" data-wow-delay="0.1s">

                        <div class=" product-heading-card2">
                            <h5 class="h-light product-h5">Let’s ‘Bake’ Some Love</h5>
                            <p class="text-justify  product-one-para ">
                                Dinshaw’s Bakery products are made using artisanal skills developed in decades.
                            </p>
                            <button class="product-btn-one wow fadeInUp " data-wow-delay="0.5s"
                                style="margin-top: 28px;"><a href="/product/bakery" class="btn-a-text">Our
                                    Range</a></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row product-flex">
        <div class="col-sm-6 col-md-6 thumbnail-c ">
            <div class="thumbnail caption-color5">
                <img src="/assets/static/images/Product-105.jpg" class="product-img-one" height="100%" width="100%"
                    alt="" />
                <div class="caption  ">
                    <div class="wow fadeInUp" data-wow-delay="0.1s">
                        <div class=" product-heading-card2">
                            <h5 class="h-light product-h5 wow fadeInRight " data-wow-delay="0.5s">Anytime Is
                                ‘Snacks’
                                Time
                            </h5>
                            <p class="text-justify  product-one-para wow fadeInRight " data-wow-delay="0.5s">
                                Dinshaw’s Namkeens & Snacks add the taste of joy in every moment!
                            </p>
                            <button class="product-btn-one wow fadeInRight " data-wow-delay="0.5s"
                                style="margin-top: 28px;"><a href="/product/namkeen" class="btn-a-text">Our
                                    Range</a></button>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>