@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-heading {
        font-family: 'YesevaOne', serif;
        font-weight: 500;
    }
    h1{
        @apply text-3xl;
        @apply font-heading;
        @apply leading-tight;
    }
    h2{
        @apply text-xl;
        @apply font-heading;
        @apply leading-snug;
    }
    h3 {
        @apply text-lg;
        @apply font-heading;
        @apply leading-snug;
    }
    h4 {
        @apply text-base;
        @apply font-heading;
        @apply leading-snug;
    }
    p {
        @apply text-xs;
         @apply leading-snug;
    }
    @screen md {
        h1 {
            @apply text-4xl;
            @apply leading-snug;
        }
        h2 {
            @apply text-3xl;
            @apply leading-snug;
        }
        h3 {
            @apply text-xl;
            @apply leading-snug;
        }
        h4 {
            @apply text-lg;
            @apply font-heading;
            @apply leading-snug;
        }
        p {
            @apply text-base;
            @apply leading-snug;
        }
    }
    @screen lg {
        h1 {
            @apply text-5xl;
            @apply leading-snug;
        }
        h2 {
            @apply text-4xl;
            @apply leading-snug;
        }
        h3 {         
            @apply text-3xl;
            @apply leading-snug;
        }
        h4 {
            @apply text-xl;
            @apply font-heading;
            @apply leading-snug;
        }
        p {
            @apply text-lg;
            @apply leading-normal;
        }
    }
}

@layer components {
    .dinshaw-fc-text {
        @apply placeholder-black w-full text-sm lg:text-xl text-black font-bold bg-white bg-clip-padding border border-solid rounded-full transition ease-in-out focus:text-black focus:bg-white focus:border-dinshaw-yellow focus:outline-none;
    }

    .dinshaw-fc-text-area {
        @apply placeholder-black w-full text-sm lg:text-xl text-black font-bold bg-white bg-clip-padding border border-solid rounded-2xl transition ease-in-out focus:text-black focus:bg-white focus:border-dinshaw-yellow focus:outline-none;
    }

    .dinshaw-search {
        @apply  relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-black  bg-clip-padding border border-solid border-gray-300 rounded-full transition ease-in-out m-0  focus:bg-white  focus:outline-none
    }

    .dinshaw-fc-select {
        @apply 
        block
        w-full
        placeholder-black
        text-sm lg:text-xl text-black  font-bold
        bg-white bg-clip-padding bg-no-repeat
        border border-solid 
        rounded-full
        transition ease-in-out
        focus:text-black focus:bg-white focus:border-dinshaw-yellow focus:outline-none
    }

    .dinshaw-fc-select-outline {
        @apply 
        block
        placeholder-black
        w-2/4
        text-base lg:text-xl text-black lg:font-bold
        bg-white bg-clip-padding bg-no-repeat
        border border-solid 
        rounded-full
        transition ease-in-out
        focus:bg-white border-black
    }

    .dinshaw-card--sm {
        @apply lg:mx-0 lg:my-0 my-1 lg:m-0 shadow-xl lg:shadow-none lg:rounded-none lg:border-none border-slate-400 border;
    }
}