<%- include('../layout/partials/messages.ejs') %>
    <div class="bodyLogin">
        <div class="container bootstrap snippet">
            <div class="row">

                <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">

                        <div class="caption">
                            <h5>Job Application</h5>

                            <h6 class="text-center">
                                <%=totalJB%>
                            </h6>

                            <div class="btn-group btn-group-sm justify-content" role="group" aria-label="...">
                                <!-- <a href="/job-opening" class="btn-sm btn-primary" role="button">Add</a> -->
                                <a href="/career/job-profile-list" class="btn-sm btn-success" role="button">View</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>